header {
    width: 100%;
    height: 60px;
    background-color: aqua;
}
main {
    width: auto;
    height: auto;
    background-color: blueviolet;
}
.porta {
    height: 200px;
    width: 200px;
    background-image: url(https://img.freepik.com/vetores-premium/porta-fechada-de-vetor-com-moldura-isolada-no-fundo-eps-10_505557-495.jpg );
    background-size: 100% auto;
}
.porta:hover{
    height: 200px;
    width: 200px;
    background-image: url(https://i.pinimg.com/736x/03/47/48/03474848c5e6d46f58bcaaee02eb3ed9.jpg);
}
.verde {
    height: 100px;
    width: 100px;
    background-color: violet;
}
.resize {
    height: 100px;
    width:100px;
    background-color: aqua;

}
